.idea/
security-devops-master/starter_code/auth-course.iml
security-devops-master/starter_code/mvnw
security-devops-master/starter_code/mvnw.cmd
security-devops-master/starter_code/hs_err_pid19328.log
security-devops-master/starter_code/target/